/* Include Tailwind CSS */
@import "./styles/tailwind.css";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #242565;
}

.eddyContainer {
  @apply px-3 mx-auto max-w-[400px] md:max-w-[700px] xl:max-w-[1000px];
}

.customizedInput {
  @apply border-b border-0 border-b-black border-opacity-20 px-2 py-1 w-full text-[13px] md:text-[14px] font-medium text-black placeholder:font-normal;
}

/* Hide scrollbar in WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
